.App {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    height: 100vh;
}
.Title {
    display: flex;
    padding: 8px;
    justify-content: center;
    font-weight: 700;
    font-size: 24px;
    background-color: firebrick;
}
.Body {
    display: flex;
    flex: 1;
    overflow-y: scroll;
    padding: 6px;
}
.Sections {
    display: flex;
    background-color: gray;
}
.TabSection {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 2px;
    color: white;
    cursor: hand;
}
.TabSectionSelected {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 2px;
    padding: 16px;
    background-color: firebrick;
    cursor: hand;
}
