.ButtonsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.NoView {
    display: flex;
    flex-direction: column;
    margin: 4px;
    width: 160px;
    height: 160px;
    align-items: center;
}
